<% %>
<form action="<%= user_url(@user.id) %>" method="POST">
    <%= auth_token %>

    <input type="hidden" name="_method" value="PATCH">
    <label for="email">Email: </label>
    <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
    <label for="username">Username: </label>
    <input type="text" id="username" name="user[username]" value="<%= @user.username %>">
    <label for="age">Age: </label>
    <input type="number" id="age" name="user[age]" value=<%= @user.age %>>
    <button>Edit User</button>

</form>